---
const { author, title, description, date, slug, image } = Astro.props;
---

<div class="card">
  <div class="details">
    <picture>
      <img src={image} alt="image">
    </picture>
    <p class="info">{author} on {date}</p>
    <a href={`/blog/${slug}`} id="heading">{title}</a>
    <p id="description">
      {description}
    </p>
  </div>
</div>

<style>
  .details>picture>img {
    object-fit: contain;
    max-width: 100%;
    margin: 1rem 0;
    border-radius: 5px;
  }

  .info {
    color: rgb(180, 22, 22);
    font-size: 14px;
  }

  .card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 10px;
  }

  .details p {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  #description {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #heading {
    font-size: 18px;
    color: black;
    transition: ease-in-out 0.3s;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .details {
    display: flex;
    flex-direction: column;
  }

  #heading:hover {
    color: rgb(237, 226, 71);
  }

  .card-wrap {
    width: 100%;
    padding: 12px;
    min-width: 100%;
    height: 100%;
  }
  @media (min-width: 500px) {
    #heading {
      font-size: 20px;
    }
  }

  @media (min-width: 720px) {
    .card {
      min-width: 25%;
    }
  }

  .card {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
  }
  .card > div {
    padding: 0 1em;
  }
</style>
