---
import { Image } from "astro:assets";
import Bed from "/public/images/bed.svg";
import Bath from "/public/images/bath-tub.svg";
import CarPark from "/public/images/car-park.svg";
// PropertyCard.astro
interface PropertyProps {
  title: string;
  address: string;
  price: number;
  bedrooms: number;
  bathrooms: number;
  sqft: number;
  image: string;
  type: string;
}

const {
  title = "Commercial Property",
  address = "222 Woodman Pub, London",
  price = 255300,
  bedrooms = 5,
  bathrooms = 3,
  sqft = 1230,
  image = "/images/home-2.png",
  type = null,
} = Astro.props;
---

<div class="card-wrap">
  <div class="card">
    <Image src={image} alt="image" class="card-img" width={320} height={240} />
    <div class="card-content">
      <h3>{title}</h3>
      <address class="address"><u>{address}</u></address>
      <p style="font-size: 18px;">Price: ${price}</p>
      <div class="property-details">
        <div class="detail">
          <span>{bedrooms}</span>
          <Image src={Bed} width={18} height={18} alt={"Bed"} />
        </div>

        <div class="detail">
          <span>{bathrooms}</span>
          <Image src={Bath} width={18} height={18} alt={"Bath"} />
        </div>
        <div class="detail">
          <span>{bathrooms}</span>
          <Image src={CarPark} width={18} height={18} alt={"Reception"} />
        </div>
        <div class="detail">
          <i class="sqft-icon"></i>
          <span>{sqft} Sq.Ft</span>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  img {
    width: 100%;
    object-fit: cover;
    max-width: 100%;
  }

  .card-grid {
    width: 100%;
  }
  .card-grid:after {
    content: "";
    display: table;
    clear: both;
  }

  .card-wrap {
    float: left;
    width: 100%;
    padding: 5px;
  }
  @media (min-width: 500px) {
    .card-wrap {
      width: 50%;
    }
  }
  @media (min-width: 720px) {
    .card-wrap {
      width: 25%;
    }
  }

  .card {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
  }
  .card > div {
    padding: 0 1em;
  }

  .card-content {
    display: flex;
    flex-direction: column;
  }

  .property-details {
    display: flex;
    justify-content: space-between;
  }

  .detail {
    display: flex;
    justify-content: space-evenly;
  }
</style>

<script>
  document.querySelector(".view-details")?.addEventListener("click", () => {
    // Add navigation or modal logic
  });
</script>
