---
import homeimage from "/public/images/home-1.jpg";
import homeimage2 from "/public/images/home-2.png";
import Image from "astro/components/Image.astro";
import Budget from "/public/images/money-bag.svg";
import Location from "/public/images/location.svg";
import Trust from "/public/images/trust.svg";
import Card from "./Card.astro";
import properties from "../assets/popular-properties.json";
---

<section class="hero" id="home">
  <div class="container">
    <div class="hero-content">
      <h1 class="main-line">
        <u>Modern</u> , Creative <br />& Luxury <u>Homes</u>
      </h1>

      <p class="text">
        Mark and Sons Limited , with over 18 years of experience, is a
        prominnets real estate firm located in Ilford, Essex
      </p>
      <button class="btn">
        <a href="/contact"> Contact Us </a>
      </button>
    </div>

    <figure class="hero-banner">
      <Image src={homeimage} alt="Modern house model" class="homeImage" />
    </figure>
    <br />
    <br />
  </div>
  <div class="container">
    <div class="hero-content">
      <h4 class="hero-subtitle">Why choose us</h4>
      <h2>We Provide Latest Properties For <br /> Our Valuable Clients</h2>
      <figure class="hero-banner">
        <Image src={homeimage2} alt="property image" class="homeImage" />
      </figure>
      <br />
      <p style="font-size:medium;">
        Huge number of properties available here for buy,sell and rent. Also you
        find here co-living property so ots opportunities you have to choose
        here and enjoy huge discount.
      </p>
    </div>
    <div>
      <ul class="benefits">
        <li class="benefit">
          <Image src={Budget} alt={"budegt friendly"} height={60} />
          <div class="info">
            <p>Budget Friendly</p>
            <p>
              Properties are most budget friendly so you have opporutnity to
              find the best one.
            </p>
          </div>
        </li>
        <li class="benefit">
          <Image src={Location} alt={"budegt friendly"} height={60} />
          <div class="info">
            <p>Prime Location</p>
            <p>
              Properties are most budget friendly so you have opporutnity to
              find the best one.
            </p>
          </div>
        </li>
        <li class="benefit">
          <Image src={Trust} alt={"budegt friendly"} height={60} />
          <div class="info">
            <p>Trusted By Thousand</p>
            <p>
              Properties are most budget friendly so you have opporutnity to
              find the best one.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="popular">
    <h3>Popular Properties</h3>
    <ul>
      {
        properties.map((property) => (
          <li>
            <Card
              title={property.title}
              address={property.address}
              price={property.price}
              bedrooms={property.bedrooms}
              bathrooms={property.bathrooms}
              sqft={property.sqft}
              image={property.image}
              type={property.type}
            />
          </li>
        ))
      }
    </ul>
  </div>
  <div class="popular video-area">
    <p>Take a video tour</p>
    <h2>Watch the video for taking your <br /> decision easily.</h2>
    <a href="#">View all &#8594;</a>
    <video width="320" height="240" controls>
      <source src="#" type="video/mp4" />
      <source src="#" type="video/ogg" />
      Your browser does not support the video tag
    </video>
  </div>
  <div class="container">
    <p class="question">
      Have a Question? <a href="tel:+44 7395296011">+44 7395296011</a> / <a
        href="tel:+44 7886 864975">+44 7886 864975</a>
    </p>
  </div>
</section>

<style>
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    filter: blur(100px);
  }

  .question{
    p,a{
      display: inline;
      text-align: center;
    }
  }

  .video-area {
    border-radius: 0.5rem;
    background: #031b33;
    p {
      color: white;
    }
    h2,
    a {
      font-size: 16px;
      text-align: left;
      color: white;
    }
  }

  #container {
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
      Arial, sans-serif;
    height: 100%;
  }

  .slider {
  }

  .hero-subtitle {
    color: hsl(53, 51%, 50%);
  }

  main {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  #hero {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
  }

  h1 {
    font-size: 22px;
    margin-top: 0.25em;
  }

  #links {
    display: flex;
    gap: 16px;
  }

  .benefits {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .benefit {
    display: flex;
    gap: 1rem;
    margin-left: 5rem;
    .info {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
    }
    .info > p:nth-child(1) {
      font-size: 1.4rem;
    }
  }

  .homeImage {
    height: 30rem;
    width: 100%;
  }

  #links a {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    color: #111827;
    text-decoration: none;
    transition: color 0.2s;
  }

  .popular {
    margin: 5rem auto;
    width: calc(100% - 10rem);
    max-width: 85rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }

  .popular > ul {
    width: 100%;
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  #links a:hover {
    color: rgb(78, 80, 86);
  }

  #links a svg {
    height: 1em;
    margin-left: 8px;
  }

  #links a.button {
    color: white;
    background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
    box-shadow:
      inset 0 0 0 1px rgba(255, 255, 255, 0.12),
      inset 0 -2px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
  }

  #links a.button:hover {
    color: rgb(230, 230, 230);
    box-shadow: none;
  }

  pre {
    font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
      Consolas, "DejaVu Sans Mono", monospace;
    font-weight: normal;
    background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
  }

  h2 {
    margin: 0 0 1em;
    font-weight: normal;
    color: #111827;
    font-size: 20px;
  }

  p {
    color: #4b5563;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.006em;
    margin: 0;
  }

  .main-line {
    font-size: 4rem;
  }

  code {
    display: inline-block;
    background:
      linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
      linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 6px 8px;
  }

  .box {
    padding: 16px;
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    border: 1px solid white;
  }

  #news {
    position: absolute;
    bottom: 16px;
    right: 16px;
    max-width: 300px;
    text-decoration: none;
    transition: background 0.2s;
    backdrop-filter: blur(50px);
  }

  #news:hover {
    background: rgba(255, 255, 255, 0.55);
  }

  @media screen and (max-height: 368px) {
    #news {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    #container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    #hero {
      display: block;
      padding-top: 10%;
    }

    .benefit {
      margin: 0;
    }

    .popular {
    }

    .popular > ul {
      display: flex;
      flex-direction: column;
    }

    .main-line {
      font-size: 3rem;
    }

    #links {
      flex-wrap: wrap;
    }

    #links a.button {
      padding: 14px 18px;
    }

    #news {
      right: 16px;
      left: 16px;
      bottom: 2.5rem;
      max-width: 100%;
    }

    h1 {
      line-height: 1.5;
    }
  }
</style>
